@font-face {
  font-family: "Lato";
  src: local("Lato Light"), local("Lato-Light"),
    url(assets/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"),
    url(assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url(assets/fonts/Lato/Lato-Bold.ttfetype) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"), url(assets/fonts/Lato/Lato-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 12px;
  color: #767e9e;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1020px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
}

.header__inner {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 31px;
}

.header__logo {
  line-height: 26px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
}

.header__logo span {
  color: #f06c64;
}

.header-bottom {
  position: relative;
  z-index: 3;
  height: 6px;
  background-color: #323746;
}

.nav li {
  display: inline-block;
  padding-bottom: 1px;
}

.nav li:first-child {
  margin-left: 0;
}

.nav li+li::before {
  content: "\00B7";
  margin: 0 11.4px;
  color: #494e62;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  transition: color 0.1s linear;
}

.nav__link:hover {
  color: #f06c64;
}

.slider {
  position: relative;
  z-index: 2;
  top: -6px;
  height: 600px;
  width: 100%;
  background-color: #f06c64;
}

.slider__body {
  display: flex;
  justify-items: baseline;
  align-items: center;
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.vertical {
  width: 240px;
  height: 483px;
  margin-right: 73px;
  margin-left: 57px;
}

.horizontal {
  width: 484px;
  height: 240px;
  margin-right: 54px;
}

.slider__body a:hover {
  opacity: 0.5;
  transition: opacity 0.1s linear;
}

.slider__arrow-right img {
  transform: rotate(180deg);
}

.media {
  display: flex;
  align-items: flex-start;
}

.media__object {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.media__body {
  text-align: justify;
  letter-spacing: -0.1px;
}

.media__heading {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #666d89;
  margin-bottom: 9.2px;
  letter-spacing: -0.1px;
}

.media__text {
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  letter-spacing: initial;
  word-spacing: initial;
}

.slider-bottom {
  position: relative;
  top: -15px;
  z-index: 1;
  height: 15px;
  background-color: #ea676b;
}

.info {
  position: relative;
  top: -17px;
  z-index: -3;
}

.info__services {
  display: flex;
  flex-direction: column;

  height: 496px;
  background-color: #f2f2f2;
}

.info__body {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 65px auto;
  /* padding-top: 64px; */
  letter-spacing: -0.2px;
}

.info__title {
  font-size: 30px;
  margin-bottom: 21px;
  color: #666d89;
  font-weight: 900;
}

.info__text {
  margin-bottom: 46px;
  letter-spacing: -0.09px;
  word-spacing: 0.6px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
}

.info__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.info__container {
  margin-bottom: 18px;
  width: 300px;
  height: 105px;
  overflow: hidden;
}

.info__bottom {
  height: 6px;
  background-color: #ffffff;
}
