@font-face {
  font-family: "Lato";
  src: local("Lato Light"), local("Lato-Light"),
    url(assets/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"),
    url(assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), url(assets/fonts/Lato/Lato-Bold.ttfetype) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"), url(assets/fonts/Lato/Lato-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}


body {
  font-family: "Lato";
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
  color: #666d89;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* ------------- Portfolio-------------*/

.portfolio {
  background-color: #2d303a;
  text-align: left;
  padding-top: 70px;
  padding-bottom: 73px;
}

/* .portfolio__title {
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 35px;
} */
.wrapper__title {
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 26.5px;
  letter-spacing: -0.2px;
}

.wrapper__text {
  color: #767e9e;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 11px;
  text-align: justify;
}

.filter {
  display: flex;
  margin-bottom: 19px;
  margin-left: 1px;
}

.filter__item {
  color: #767e9e;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 10.4px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  padding-right: 5.5px;
  padding-left: 6.5px;

  transition: color 0.1s linear, border-color 0.1s linear;
}

.filter__item:hover {
  color: #dedede;
  border-color: #c5c5c5;
}

.filter__item_graphic-design {
  padding-left: 5.5px;
}

.filter__item_artwork {
  padding-left: 5.5px;
  padding-right: 5px;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template: 187px 187px 187px / 220px 220px 220px 220px;
  grid-gap: 20px 20px;
  overflow: hidden;
}

.bottom {
  position: relative;
  top: -6px;
  height: 6px;
}

.bottom_portfolio {
  background-color: #323746;
  ;
}

.bottom_about {
  background-color: #ffffff;
}

/* ------------- About Us-------------*/

.about {
  position: relative;
  top: -6px;
  background-color: #f2f2f2;
  text-align: left;
  padding-top: 69px;
  padding-bottom: 67px;
}

/* ------------- Team-------------*/

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.team__item {
  width: 300px;
}

.team__photo {
  width: 100%;
}

.team__name {
  font-size: 18px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;

  margin-top: 12px;
  margin-bottom: 8px;
  letter-spacing: -0.2px;
}

.team__description {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  margin-top: 0;
  margin-bottom: 23px;
  text-align: justify;
}

.team__description_item1 {
  word-spacing: 0.31px;
  letter-spacing: -0.1px;
  text-align: left;
}

/* ------------- Social -------------*/

.social {
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 16.7px;
  border: 1px solid #666d89;
  margin-right: 8px;

  transition: background 0.1s linear;
}

.social__link:hover {
  background-color: #666d89;
}

.social__link:hover .social__icon {
  fill: #f2f2f2;
}

.social__icon {
  fill: #666d89;
  transition: fill 0.1s linear;
}


.social__icon_facebook {
  width: 8px;
  height: 14px;
  display: inline-block;
}

.social__icon_google {
  width: 14px;
  height: 14px;
}

.social__icon_twitter {
  width: 14px;
  height: 12px;
}

.social__icon_linkedin {
  width: 14px;
  height: 14px;
}
